---
import '../styles/global.css';
import { SITE } from '../data/site.js';
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content={SITE.description} />
  <title>{SITE.title}</title>
  <link rel="canonical" href={SITE.url} />
</head>
<body>
  <slot />
</body>
</html>
